<div class="flex-container">
  <!-- ... andere Container ... -->
  <div class="detailDiv" *ngIf="employeeData; else noEmployeeData">
    <div class="detailContent">
      
      <mat-card>
          <mat-card-header>
          <mat-icon mat-card-avatar>person</mat-icon>
          <mat-card-title>Name:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          <mat-card-subtitle>{{employeeData.firstName}} {{employeeData.lastName}}</mat-card-subtitle>
          </mat-card-content>
       </mat-card>

       <mat-card>
          <mat-card-header>
          <mat-icon mat-card-avatar>call</mat-icon>
          <mat-card-title>Telefonnummer:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          <mat-card-subtitle>{{employeeData.phone}}</mat-card-subtitle>
          </mat-card-content>
       </mat-card>

       <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>home</mat-icon>
          <mat-card-title>Adresse:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>Wohnort:</mat-card-title>
          <mat-card-subtitle>{{employeeData.city}}</mat-card-subtitle>
          <mat-card-title>PLZ:</mat-card-title>
          <mat-card-subtitle>{{employeeData.postcode}}</mat-card-subtitle>
          <mat-card-title>Straße:</mat-card-title>
          <mat-card-subtitle>{{employeeData.street}}</mat-card-subtitle>
        </mat-card-content>
       </mat-card>

      <div class="buttonsSection">
        <button class="editButton">
          <div class="buttonContent__Wrapper">
            <mat-icon class="buttonIcon">edit</mat-icon>
            <p class="buttonText">
              Bearbeiten
            </p>
          </div>
        </button>
        <button class="deleteButton" (click)="openDeleteEmployeeDialog()">
          <div class="buttonContent__Wrapper">
            <mat-icon class="buttonIcon">delete</mat-icon>
            <p class="buttonText">
              Löschen
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
  <ng-template #noEmployeeData>
    
    <div class="detailDiv">
      <div class="noEmployeeBackground">
        
        <mat-card>
          <mat-card-content>Bitte wähle einen Mitarbeiter aus.</mat-card-content>
        </mat-card>
        
      </div>
    </div>
  </ng-template>
</div>
