<form #employeeForm="ngForm" (ngSubmit)="updateEmployee()">
  <h1>Mitarbeiter:in bearbeiten</h1>

  <table class="formTable" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label for="firstName">Vorname:</mat-label>
          <input
            matInput
            id="firstName"
            name="firstName"
            [(ngModel)]="tempFirstName"
            ngModel
            required
            maxlength="25"
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nachname</mat-label>
          <input
            matInput
            id="lastName"
            name="lastName"
            [(ngModel)]="tempLastName"
            ngModel
            required
            maxlength="25"
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Telefonnummer</mat-label>
      <input
        matInput
        id="phone"
        name="phone"
        [(ngModel)]="tempPhone"
        ngModel
        required
        maxlength="25"
      />
      <mat-icon matSuffix>call</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Straße / Hausnummer</mat-label>
      <input
        matInput
        id="street"
        name="street"
        [(ngModel)]="tempStreet"
        ngModel
        required
        maxlength="50"
      />
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Stadt</mat-label>
          <input
            matInput
            id="city"
            name="city"
            [(ngModel)]="tempCity"
            ngModel
            required
            maxlength="25"
          />
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>PLZ</mat-label>
          <input
            matInput
            #postalCode
            maxlength="5"
            id="postcode"
            name="postcode"
            [(ngModel)]="tempPostcode"
            ngModel
            required
            minlength="5"
            maxlength="5"
          />
          <mat-icon matSuffix>local_post_office</mat-icon>
          <mat-hint align="start">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  

  <button mat-raised-button type="submit" color="primary"  (click)="updateEmployee()" [disabled]="!employeeForm.valid">
    Mitarbeiter:in aktualisieren
  </button>
</table>
</form>
