<div class="flex-container">
  <div class="searchDiv">
    <div class="input-container">

      <app-toggle-sort-button (click)="toggleSort()"></app-toggle-sort-button>
      <div class="searchInput__Container">
        <form [formGroup]="searchForm">
          <mat-icon class="searchInput__SearchIcon">search</mat-icon>
          <input
            #searchInput
            formControlName="searchTerm"
            placeholder="Suche nach Mitarbeitern"
            style="padding-left: 40px;"
          />
          <button
            (click)="clearSearch()"
            *ngIf="searchForm.get('searchTerm')?.value !== ''"
            [@fade]
            class="closeBtn"
          >
            <mat-icon>close</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="listDiv">
    <ul class="employeeList">
      <li
        (click)="handleEmployeeClick(i, employee.id)"
        *ngFor="let employee of filteredEmployees; let i = index"
        [class.selected]="i === selectedEmployeeIndex"
        class="einzelnerMitarbeiter"
      >
        <span>{{ employee.lastName }} {{ employee.firstName }}</span>
      </li>
    </ul>
  </div>

  <div class="addDiv">
    <button (click)="openAddEmployeeDialog()" class="btnAdd">
      <div class="buttonContent__Wrapper">
        <p class="buttonText">Mitarbeiter:in hinzufügen</p>
      </div>
    </button>
  </div>
</div>

