<header>
  <div class="header__container">
    <a href="/" class="logo">
      <img
        class="logo__image"
        alt="Logo"
        src="assets/HiTec-Logo-only_nobackground.png"
      />
      <h3 class="logo__name">HiTec</h3>
    </a>
    <div class="header__title__wrapper">
      <h1 class="header__title">EMS-Dashboard</h1>
    </div>
    <div class="button-wrapper">
      <label class="ui-switch">
        <input type="checkbox" id="myCheck" (change)="changeColor()" [checked]="!isDarkMode" />
        <div class="slider">
          <div class="circle"></div>
        </div>
      </label>
    </div>
  </div>
</header>
