/* Hier noch ändern */

form {
  background-color: var(--main-card-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  justify-content: space-evenly;
}

h1 {
  color: var(--main-text-color);
  margin: 1rem;
}

.full-width {
  flex: 1;
}

.buttonGroup {
  display: flex;
  justify-content: space-between; /* or space-evenly */
  margin-top: 20px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Adjust margin-bottom for buttonGroup if needed */
.buttonGroup button {
  flex-basis: 48%; /* or adjust based on your design */
}

.buttonGroup button:first-child {
  margin-right: 4%; /* or adjust based on your design */
}





