/* Hier noch ändern */

form {
  background-color: var(--main-card-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  justify-content: space-evenly;
}

h1 {
  color: var(--main-text-color);
  margin: 1rem;
}

.full-width {
  flex: 1;
}

.buttonGroup {
  display: flex;
  justify-content: space-between; /* or space-evenly */
  margin-top: 20px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Adjust margin-bottom for buttonGroup if needed */
.buttonGroup button {
  flex-basis: 48%; /* or adjust based on your design */
}

.buttonGroup button:first-child {
  margin-right: 4%; /* or adjust based on your design */
}

.group {
  position: relative;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}
