.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border: 1px solid #383a3f;
  outline: none;
  background-color: var(--main-card-bg);
  color: var(--main-green);
  cursor: pointer;
}
.toggle-button:hover {
  background-color: #2c3138;
  border-color: #2c3138;
  color: var(--main-text-color);
}
.material-symbols-outlined {
  font-weight: 500;
}
.toggle-sort-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.toggle-button-text-wrapper {
  line-height: 1;
}
.toggle-button-text {
  margin: 0;
  font-weight: bold;
}
